<nav class="navbar mb-2">
	<div class="navbar-brand">
		<img src="assets/images/logo.svg" class="logo">
	</div>
	<div class="navbar-item">
	</div>
	<div class="navbar-item ml-auto pr-3" (click)="prepareSync()">
		<span class="navbar-button"><i class="fas fa-fw fa-sync"></i></span>
	</div>
	<div class="navbar-item pl-3 pr-3" (click)="toggleQrcodeMode()">
		<span class="navbar-button"><i class="fas fa-fw fa-qrcode"></i></span>
	</div>
</nav>
<div class="container">
	
	<form (ngSubmit)="submit()" #presenceForm="ngForm">
		<div class="row pb-3">
			<div class="col-sm-12">
				<div>
					<label for="name">Datum<span *ngIf="data.seasonName"> ({{ data.seasonName }})</span>:</label><br>
					<input type="date" id="date" name="date" class="form-control" [(ngModel)]="date">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 mb-3">
				<div class="btn-group btn-group-toggle" style="width: 100%" ngbRadioGroup name="radioBasic" [(ngModel)]="presence">
					<label ngbButtonLabel class="btn-secondary">
						<input ngbButton type="radio" [value]="1"> Anwesend
					</label>
					<label ngbButtonLabel class="btn-secondary">
						<input ngbButton type="radio" [value]="2"> Entschuldigt
					</label>
				</div>
			</div>
			<div class="col-md-7 mb-3">
				<!-- <label for="name">Name:</label><br> -->
				<div class="input-group">
					<div id="name" class="form-control" [ngClass]="{'fadeoutgreen': doFadeGreen, 'fadeoutyellow': doFadeYellow, 'fadeoutred': doFadeRed}">
						{{name}}
					</div>
					<div class="input-group-append">
						<div class="input-group-text"><i class="fas fa-fw fa-euro-sign"
							[ngClass]="getClassPayed()"></i></div>
						<div class="input-group-text"><i class="fas fa-fw fa-heartbeat" 
							[ngClass]="getClassHealthDeclared()"></i></div>
						<div class="input-group-text"><i class="fas fa-fw fa-virus"
							[ngClass]="getClassCovid19Vac()"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row pb-3">
			<div class="col-sm-12">
				<div *ngIf="!qrCodeMode">
					<!-- <label for="pId">Teilnehmernummer:</label><br> -->
					<input type="number" id="pId" name="pId" placeholder="Teilnehmernummer" class="form-control" 
						[(ngModel)]="pId" (blur)="refocus()" (keydown)="keyEvent($event)"> <!-- ng-keydown="keyEvent($event)" ng-blur="refocus()" /> -->
				</div>
				<div *ngIf="qrCodeMode">
					<div *ngIf="cameraPermitted == false">
						Fehlende Kameraberechtigung.
						Bitte erlaube die Nutzung der Kamera.
					</div>
					<div *ngIf="cameras != undefined && cameras.length == 0">
						Keine Kameras gefunden.
					</div>
					<div *ngIf="cameraPermitted != false" class="mr-auto ml-auto">
						<table>
							<tbody>
								<td style="width: 13%"></td>
								<td style="width: 74%">
									<zxing-scanner #qrscanner
										[formats]="allowedCodeFormats"
										(camerasFound)="qrCodeCamerasFound($event)"
										(camerasNotFound)="qrCodeNoCamerasFound()"
										(permissionResponse)="qrCodePermissionResponse($event)"
										(scanSuccess)="qrCodeScanSuccess($event)"
										(scanError)="qrCodeScanError($event)">
									</zxing-scanner>
								</td>
								<td style="width: 13%">
									<div (click)="cycleCamera()" title="Nächste Kamera auswählen" class="pointer" *ngIf="this.cameras && this.cameras.length > 1">
										<i class="fas fa-fw fa-redo-alt" style="font-size: 140%"></i>
									</div>
								</td>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table id="data" style="width:100%">
					<thead>
						<tr>
							<th>Datum</th>
							<th>Name</th>
							<th title="Anwesenheit" class="text-right">
								<i class="fas fa-fw fa-user-check"></i>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let r of data.records" (click)="edit(r)" style="height: 30pt">
							<td>{{r.date | date:"dd.MM.yyyy"}}</td>
							<td>{{data.participants[r.pId]?.name}} ({{r.pId}})</td>
							<td class="text-right">
								<i *ngIf="r.presence == 0" class="fas fa-fw fa-minus" style="color: red"></i>
								<i *ngIf="r.presence == 1" class="fas fa-fw fa-check" style="color: green"></i>
								<i *ngIf="r.presence == 2" class="fas fa-fw fa-comment" style="color: rgb(194, 194, 0)"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>
</div>
