/* You can add global styles to this file, and also import other style files */

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
	max-width: 768px;
	margin: auto;
}

.navbar {
	background-color: #e30613;
	color: #ffed00;
}

.logo {
	height: 30pt;
}

.navbar-button {
	font-size: 150%;
	cursor: pointer;
}

@media screen and (max-width: 383.98px) {
	.logo {
		height: 20pt;
	}

	.navbar-button {
		font-size: 100%;
	}
}

@media screen and (max-width: 767.98px) {
	.container {
		max-width: none;
		width: 100%;
	}
}